```gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.db
*.sqlite3

# Virtual env
env/
venv/
ENV/
*.venv/

# IDE / Editors
.vscode/
.idea/
*.swp
.DS_Store

# Models / Checkpoints
*.h5
*.pb
*.onnx
*.ckpt
*.weights
*.caffemodel
*.prototxt

# Logs
*.log
logs/